body {
  background-color: rgb(40, 40, 40);
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

.mm-image-browser-cell {
  padding: 10px;
  overflow: hidden;
  position: absolute;
}

.mm-image-browser-cell-label {
  font-size: 12px;
  color: #666;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  width: 256px;
  margin-top: 4px;
}

.mm-image-browser-cell-thumbnail-container {
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-image-browser-cell-thumbnail-container > img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: -webkit-optimize-contrast;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-user-drag: none;
}

.mm-image-viewer {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  user-selection: none;
}

.mm-image-viewer > img {
  position: absolute;
  top: 0;
  left: 0;
  user-drag: none;
  -webkit-user-drag: none;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.mm-load-error {
  background-color: red;
}

.mm-selected .mm-image-browser-cell-thumbnail-container > img {
  outline: orange solid 5px;
}
